@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  font-family:"IBM Plex Sans" ;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
